@import "tailwindcss/preflight";
@import "tailwindcss";

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

:root {
  --font-sans: "JetBrains Mono", monospace;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #121212;
  color: #ffffff;
}

.dark-bg {
  background-color: #1e1e1e;
}

.darker-bg {
  background-color: #121212;
}
